.userProfileContainer {
    height: auto;
    background-color: #D2E7E7;
}

.userProfileContent {
    display: flex;
    height: 85.5vh;
    padding-top: 60px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
}
  
.userProfileContent::-webkit-scrollbar {
    display: none;
}
  
.myProfileStickySidebar {
    position: sticky;
    top: 1px;
}