.adminPostItem {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
}

.adminPostHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.adminPostUserInfo {
  margin-left: 10px;
}

.adminPostUserName {
  font-weight: bold;
  color: #072e33;
}

.adminPostDate {
  color: #072e33;
}

.adminPostCaption {
  margin: 10px 0;
  color: #072e33;
}

.adminPostImage {
  width: 410px;
  height: 250px;
  margin-top: 10px;
  border: 1px solid #072E33;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminPostFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #072e33;
}

.adminPostReactions,
.adminPostComments {
  font-size: 0.9rem;
}
