.editableDiv {
    min-height: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    text-align: left;
}
  
.toolbar {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}
  
.emojiPickerContainer {
    position: relative;
}

.emojiPickerContainer .emojiPicker {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1000;
  }
  
.active {
    background-color: rgba(0, 0, 0, 0.1);
}