.admin-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.user-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.admin-page h1 {
    color: #0C7075;
    text-align: center;
}

.adminPageNavbar {
    margin-bottom: 40px;
}
  