.otherUserProfileContainer {
    height: auto;
}

.otherUserProfileContent {
    display: flex;
    height: 100vh;
    padding-top: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
}
  
.otherUserProfileContent::-webkit-scrollbar {
    display: none;
}
  
