.activityPost {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.activityPostWrapper {
    padding: 14px;
}

.activityPostTop {
    display: flex;
    align-items: center;
}

.activityPostProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.activityPostInput {
    border: none;
    width: 80%;
}

.activityPostInput:focus {
    outline: none;
}

.activityPostHr {
    margin: 20px;
}

.activityPostBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activityPostOptions {
    display: flex;
}

.activityPostOption {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.activityPostIcon {
    font-size: 20px;
    margin-right: 6px;
    color: #0abab5
}

.activityPostOptionText {
   font-size: 16px; 
   font-weight: bold; 
}

.activityPostButton {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: #0247fe;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}