.rightbar {
    flex: 32%;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #0C7075;
    border-radius: 10px;
    position: sticky;
    color: white;
    height: 478px;
    margin-top: 10px;
    overflow: auto;
  }
  
  .rightbar h3 {
    margin: 30px 0px 0px 30px;
    text-align: left;
    color: white;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .rightBarPaginationControls {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0px 10px;
  }
  
  .rightBarPaginationControls .nextButtonAdminPost {
    background-color: #072E33;
    color: white;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    width: 90px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
  }

  .rightBarPaginationControls .previousButtonAdminPost {
    background-color: #D2E7E7;
    color: #072E33;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    width: 90px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
  }

  .previousButtonAdminPostEmpty{
    background-color: #D2E7E7;
    color: #072E33;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    width: 90px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    visibility: hidden;
  }
  
  .rightBarPaginationControls button:disabled {
    background-color: #0C7075;
    cursor: not-allowed;
  }
  