.userSettingsContainer {
  background-color: #D2E7E7;
}

.user-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 42px;
}

.user-settings h2 {
  margin-bottom: 20px;
}

.user-settings .MuiTextField-root {
  margin-bottom: 15px;
}

.user-settings .MuiButton-root {
  margin-top: 10px;
}

.text-field-small {
  height: 20px;
}
