.forbiddenContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D2E7E7;
}

.forbiddenContent {
    text-align: center;
    font-family: Arial, sans-serif;
}

.forbiddenContent h1 {
    font-size: 116px;
    margin: 0;
    color: #072E33;
}

.forbiddenContent p {
    font-size: 44px;
    margin: 10px 0;
    color: #072E33;
}

.forbiddenContent span {
    display: block;
    margin: 20px 0;
    font-size: 18px;
    color: #072E33;
}
