.notFoundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.notFoundContent {
    text-align: center;
    font-family: Arial, sans-serif;
}

.notFoundContent h1 {
    font-size: 116px;
    margin: 0;
    color: #072E33;
}

.notFoundContent p {
    font-size: 44px;
    margin: 10px 0;
    color: #072E33;
}

.notFoundContent span {
    display: block;
    margin: 20px 0;
    font-size: 18px;
    color: #072E33;
}
