.login {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft, .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: blue;
    margin-bottom: 14px;
}

.loginDescription{
    font-size: 22px;
}

.loginBox {
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 20px;
    font-size: 18px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgotPassword {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  padding: 0;
  font: inherit;
  text-align: left;
}

.loginRegistrationButton {
    width: 100%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}