.userPersonalFeedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  width: 50%;
  box-sizing: border-box;
}

.userPersonalInfo {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  justify-content: center;
}

.userPersonalFeedPost {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.userPersonalFeedPostWrapper {
  padding: 14px;
}

.userPersonalFeedPostTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userPersonalFeedPostTopLeft {
  display: flex;
  align-items: center;
}

.userPersonalFeedPostProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.userPersonalFeedPostUsername {
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px;
}

.userPersonalFeedPostDate {
  font-size: 14px;
}

.userPersonalFeedPostCenter {
  margin: 20px 0;
}

.userPersonalFeedPostImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.userPersonalFeedPostBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userPersonalFeedPostBottomLeft {
  display: flex;
  align-items: center;
}

.userPersonalReactionIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.userPersonalFeedPostReactionCounter {
  font-size: 18px;
}

.userPersonalFeedPostCommentText {
  font-size: 18px;
}

.userPersonalReactionButton {
  position: relative;
  display: inline-block;
}

.userPersonalReactionOptions {
  display: flex;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.userPersonalReactionOpener {
  font-size: 24px;
}

.userPersonalReactionOptions span {
  margin-right: 5px;
  cursor: pointer;
  font-size: 24px;
}

.userPersonalReactionOptions span.selected {
  color: blue;
  background-color: blue;
  font-weight: bold;
  border-radius: 60%;
}


.userPersonalReactionButton span {
  cursor: pointer;
}

.userPersonalModalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.userPersonalModalContentLarge {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.userPersonalReactionItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.userPersonalCommentItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.userPersonalAddCommentContainer {
  margin-bottom: 20px;
}

.userPersonalCommentsContainer {
  margin-top: 20px;
}

.userPersonalFeedPostReactionCounter {
  cursor: pointer;
  transition: color 0.3s;
}

.userPersonalPaginationControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.userPersonalPaginationControls Button {
  min-width: 70px;
}