.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
  }
  
  .pagination span {
    flex-grow: 1;
    text-align: center;
  }
  