  .sidebar {
    flex: 25%;
    width: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #0C7075;
    border-radius: 10px;
    position: sticky;
    color: white;
  }

  .sidebar h3 {
    margin: 30px 0px 0px 30px;
    text-align: left;
    color: white;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif
  }

  .sidebar .MuiListItem-root {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: white;
  }

  .sidebar .MuiAvatar-root {
    margin-right: 10px;
    color: white;
  }

  .sidebar .MuiListItemText-root .MuiTypography-root {
    color: white;
  }
  
  .sidebar .MuiListItemText-root .MuiTypography-root.MuiTypography-body1 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .sidebar .MuiListItemText-root .MuiTypography-root.MuiTypography-body2 {
    color: #B3C9E2;
  }

  .no-following-message {
  margin-left: 30px;
}