.feedPostUserDetails {
  display: flex;
  flex-direction: column;
}

.feedPostUsername {
  color: #072E33;
}

.feedPostDate {
  color: #072E33;
  margin-left: 10px;
}

.feedPostCenter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.feedPostText {
  color: #072E33;
  margin-top: 10px;
  text-align: left;
  width: 100%;
}

.feedPostImg {
  margin-top: 10px;
  width: 100%;
  max-height: 500px;
}

.editorWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.editorButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.editorButtons .saveButton {
  background-color: #007B7F;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
}

.editorButtons .cancelButton {
  color: #007B7F;
  padding: 5px 10px;
}