html, body {
  margin: 0px 0px 0px 0px;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.homepageContent {
  display: flex;
  height: 91.5vh;
  width: 100%;
  padding-top: 70px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  background-color: #D2E7E7;
}

.homepageContent::-webkit-scrollbar {
  display: none;
}

.homeContainer {
  height: auto;
}
