html, body {
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #D2E7E7;
}

.homepageContent {
  display: flex;
  height:  85.5vh;;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  background-color: #D2E7E7;
  margin-top: 70px;
}

.homepageContent::-webkit-scrollbar {
  display: none;
}

.homeContainer {
  height: auto;
}
